ul {
    margin-top: 10px;
}
li {
    list-style: nome;
    padding: 6px;
    background: #f2f2f2;
    margin-bottom: 5px;
    border-radius: 4px;

}
.container {
    background-color: aqua;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;
}